html {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
}

h1 {
    margin: 5px;
    font-size: 25px;
    font-family: 'poppins-semibold', sans-serif;
}

h2 {
    margin: 5px;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

h3 {
    margin: 5px;
    font-size: 20px;
    font-family: 'poppins-semibold', sans-serif;
    color: #0050FF;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

p {
    margin: 5px;
}

.carre {
    width: 16px;
    height: 16px;
    background-color: #0050FF;
}

.carre1 {
    width: 20px;
    height: 20px;
    background-color: #0050FF;
}

.carre2 {
    width: 13px;
    height: 13px;
    background-color: #0050FF;
}

.carre3 {
    width: 10px;
    height: 50px;
    background-color: #0050FF;
}

.bonton1 {
    background-color: #0050FF;
    color: white;
    height: 35px;
    width: 130px;
    border: 1px solid #0050FF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton1:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.bonton2 {
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton2:hover {
    background-color: #0050FF;
    border-color: #0050FF;
    color: white;
}

/* Header */

header {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
}

.header {
    display: flex;
    align-items: center;
}

.header2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actuel {
    color: #0050FF;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 30px 50px 30px 50px;
}

.footer2 {
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 30px;
}

/* Profil */
.bodyprofil {
    display: flex;
    height: 100vh;
    margin: 0;
}

.left {
    flex: 0.4;
    width: 1px;
    background-color: #E6DACE;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .left {
        width: 393px;
        flex: none;
    }
}

.profil {
    position: relative;
    right: -30vw;
    text-align: center;
    display: flex;
}

.profil1 {
    background-color: #F4ECE6;
    padding: 30px 50px;
}

.imgprofil {
    position: relative;
    width: 205px;
    height: 205px;
    border-radius: 100%;
}

.trait {
    width: 50px;
    height: 2px;
    background-color: #0050FF;
    margin: 20px auto;
}

.profilicon {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    padding: 10px 50px;
}

/* CV */

.cvprojet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: #E6DACE;
}

.section {
    display: flex;
    margin: 20px 0;
    background-color: white;
    box-shadow: 10px 10px rgba(0,0,0,0.1);
}

.bonton3 {
    background-color: #0050FF;
    color: white;
    height: 40px;
    width: 160px;
    border: 1px solid #0050FF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton3:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.sectioncv2 {
    justify-content: center;
    padding: 10px 0;
    width: 250px;
    margin: 20px;
}

.sectioncv3 {
    padding: 35px 0;
    width: 345px;
    margin: 20px;
}

.sectioncv4 {
    padding: 10px 0;
    margin: 20px;
}

.competencecv {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.competencecv2 {
    padding: 10px 0;
}

/* Projet */

.sectionprojet1 {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    min-width: 400px;
    max-width: 400px;
}

.image-container {
    width: 600px;
    height: 400px; /* Ajuste selon ton besoin */
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Escalade */
.sectionEscalade {
    justify-content: center;
    padding: 10px 0;
    margin: 20px;
}

/* Responsive */

.resWidth {
    width: 724px;
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 15px;
    }

    .carre {
        width: 11px;
        height: 11px;
    }

    .carre1 {
        width: 15px;
        height: 15px;
    }

    .carre2 {
        width: 8px;
        height: 8px;
    }

    .carre3 {
        width: 5px;
        height: 30px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    .bonton1 {
        height: 30px;
        width: 120px;
    }

    .bonton2 {
        height: 30px;
        width: 120px;
    }

    .resWidth {
        width: 100%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 10px;
    }

    .carre {
        width: 6px;
        height: 6px;
    }

    .carre1 {
        width: 10px;
        height: 10px;
    }

    .carre2 {
        width: 3px;
        height: 3px;
    }

    .carre3 {
        width: 2px;
        height: 20px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    .bonton1 {
        height: 25px;
        width: 110px;
    }

    .bonton2 {
        height: 25px;
        width: 110px;
    }

    .resWidth {
        width: 100%;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
    }

    h1. {
        font-size: 10px;
    }
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer2 {
        flex-direction: column;
        align-items: center;
    }

    idframe {
        width: 100%;
    }
}

