html {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
}

h1 {
    margin: 5px;
    font-size: 25px;
    font-family: 'poppins-semibold', sans-serif;
}

h2 {
    margin: 5px;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

h3 {
    margin: 5px;
    font-size: 20px;
    font-family: 'poppins-semibold', sans-serif;
    color: #0050FF;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

p {
    margin: 5px;
}

.carre {
    width: 16px;
    height: 16px;
    background-color: #0050FF;
}

.carre1 {
    width: 20px;
    height: 20px;
    background-color: #0050FF;
}

.carre2 {
    width: 13px;
    height: 13px;
    background-color: #0050FF;
}

.carre3 {
    width: 10px;
    height: 50px;
    background-color: #0050FF;
}

.bonton1 {
    background-color: #0050FF;
    color: white;
    height: 35px;
    width: 130px;
    border: 1px solid #0050FF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton1:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.bonton2 {
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton2:hover {
    background-color: #0050FF;
    border-color: #0050FF;
    color: white;
}

.bonton3 {
    background-color: #0050FF;
    color: white;
    height: 40px;
    width: 160px;
    border: 1px solid #0050FF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bonton3:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.section {
    display: flex;
    margin: 20px 0;
    background-color: white;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

/* Header */

header {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
}

.header {
    display: flex;
    align-items: center;
}

.header2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actuel {
    color: #0050FF;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}

/* Menu déroulant */
.burger-nav {
    display: none;
    position: absolute;
    top: 70px; /* Ajuste selon la hauteur de votre header */
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    z-index: 999;
}

.burger-nav a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eee;
}

.burger-nav a:last-child {
    border-bottom: none;
}

.burger-nav a:hover {
    background-color: #f0f0f0;
}

/* Affichage pour les petits écrans */
@media (max-width: 850px) {
    .header2 {
        display: none; /* Cache le menu principal */
    }

    .burger-menu {
        display: flex; /* Affiche le bouton burger */
    }

    .burger-nav.active {
        display: flex; /* Affiche le menu burger lorsqu'il est actif */
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 30px 50px 30px 50px;
}

.footer2 {
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 30px;
}

/* Profil */
.bodyprofil {
    display: flex;
    height: 100vh;
    margin: 0;
}

.left {
    flex: 0.4;
    width: 1px;
    background-color: #E6DACE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    position: relative;
    right: -30vw;
    text-align: center;
    display: flex;
}

.profil1 {
    background-color: #F4ECE6;
    padding: 30px 50px;
}

.profil2 {
    text-align: left;
    padding-left: 30px;
}

.imgprofil {
    position: relative;
    width: 205px;
    height: 205px;
    border-radius: 100%;
}

.trait {
    width: 50px;
    height: 2px;
    background-color: #0050FF;
    margin: 20px auto;
}

.profilicon {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    padding: 10px 50px;
}

.titreprofil {
    font-size: 100px;
    font-family: 'poppins-semibold', sans-serif;
}

.titreprofil2 {
    font-size: 27px;
    font-family: 'poppins-semibold', sans-serif;
}

.bontonindex {
    display: flex;
    padding: 30px;
    gap: 30px;
    text-align: center
}

/* CV */

.cvprojet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: #E6DACE;
}

.sectioncv2 {
    justify-content: center;
    padding: 10px 0;
    width: 250px;
    margin: 20px;
}

.sectioncv3 {
    padding: 35px 0;
    width: 345px;
    margin: 20px;
}

.sectioncv4 {
    padding: 10px 0;
    margin: 20px;
}

.competencecv {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.competencecv2 {
    padding: 10px 0;
}

.secret {
    color: white;
}

/* Projet */

.sectionprojet1 {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    min-width: 400px;
    max-width: 400px;
}

.image-container {
    width: 600px;
    height: 400px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Escalade */
.sectionEscalade {
    justify-content: center;
    padding: 10px 0;
    margin: 20px;
}

.sheet-button {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 16px;
    box-shadow: 10px 10px rgba(0,0,0,0.1);
}

.sheet-button:hover {
    background-color: #f2f2f2;
}

.sheet-container {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 10px 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr {
    background-color: white;
}

/* Responsive */

.resWidth {
    width: 724px;
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 15px;
    }

    .carre {
        width: 11px;
        height: 11px;
    }

    .carre1 {
        width: 15px;
        height: 15px;
    }

    .carre2 {
        width: 8px;
        height: 8px;
    }

    .carre3 {
        width: 5px;
        height: 30px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    .bonton1 {
        height: 30px;
        width: 120px;
    }

    .bonton2 {
        height: 30px;
        width: 120px;
    }

    .bonton3 {
        height: 30px;
        width: 120px;
    }

    .resWidth {
        width: 100%;
    }

    .profil1 {
        padding: 25px 45px;
    }

    .profil2 {
        padding-left: 25px;
    }

    .imgprofil {
        width: 160px;
        height: 160px;
    }

    .titreprofil {
        font-size: 70px;
    }

    .titreprofil2 {
        font-size: 25px;
    }

    .bontonindex {
        padding: 20px 10px;
        gap: 15px;
    }

    .section {
        justify-content: space-between;
    }

    .sectioncv2 {
        margin: 0;
        padding: 10px;
    }

    .sectioncv3 {
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer2 {
        flex-direction: column;
        align-items: center;
    }

    .section {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        height: 250px;
    }

    .sectionprojet1 {
        min-width: 100%;
        max-width: 100%;
    }

    .sectioncv2 {
        margin: 0;
        padding: 10px 10px 10px 10px;
    }

    .sectioncv3 {
        margin: 0;
        padding: 0 10px 10px 10px;
    }

    .competencecv {
        padding: 0;
    }

    .competencecv2 {
        padding: 5px;
    }

    .secret {
        font-size: 0;
        margin: 0;
    }

    .bodyprofil {
        display: block;
        height: 100%;
    }

    .profil {
        right: 0;
        padding: 10px;
    }

    .left {
        width: 100%;
        background-color: #FFFFFF;
    }

    .profil1 {
        padding: 10px 10px;
    }

    .profil2 {
        padding-left: 20px;
    }

    .imgprofil {
        width: 100px;
        height: 100px;
    }

    .titreprofil {
        font-size: 40px;
    }

    .titreprofil2 {
        font-size: 20px;
    }

    .bontonindex {
        padding: 10px 10px;
        gap: 10px;
    }

    .profilicon {
        gap: 10px;
    }

    .footer {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 10px;
    }

    .carre {
        width: 6px;
        height: 6px;
    }

    .carre1 {
        width: 10px;
        height: 10px;
    }

    .carre2 {
        width: 3px;
        height: 3px;
    }

    .carre3 {
        width: 2px;
        height: 20px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    .bonton1 {
        height: 20px;
        width: 80px;
    }

    .bonton2 {
        height: 20px;
        width: 80px;
    }

    .bonton3 {
        height: 25px;
        width: 110px;
    }

    .resWidth {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .header {
        flex-direction: column;
    }

    h1. {
        font-size: 10px;
    }

    .bontonindex {
        padding: 10px 0;
        gap: 5px;
    }

    .profil2 {
        padding-left: 20px;
    }

    .imgprofil {
        width: 80px;
        height: 80px;
    }

    .profil2 .bonton1 {
        height: 20px;
        width: 60px;
    }

    .profil2 .bonton2 {
        height: 20px;
        width: 60px;
    }

    .sectioncv2 {
        width: 100%;
    }

    .sectioncv3 {
        width: 100%;
    }
}

